{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link
    href="https://fonts.googleapis.com/css?family=Mansalva|Merienda|Pacifico|Satisfy|Grenze|Vibes|Open+Sans&display=swap"
    rel="stylesheet">
 

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    .well {
      margin-top: 30px;
      background: transparent;
      border: none;
    }
    #img1 {
      width: 100px;
      height: 80px;
      padding: 5px;
      margin-top: -10px;
      margin-left: -10px;
    }
    ul li {
      padding-left: 20px;
      padding-top: 2px;
      padding-bottom: 8px;
      padding-right: 20px;

    }
    #p1 {
      color: #6b249b;
      font-size: 15px;
      font-weight: bold;
      font-family: 'Times New Roman', Times, serif;
    }
    #p2 {
      color: #6b249b;
      font-size: 18px;
      font-weight: bold;
      font-family: 'Times New Roman', Times, serif;
      margin-left: 407px;
    }
    .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   padding: 20px;
   background-color:#6b249b;
   color: gray;
   text-align: center;
}
  </style>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="font-family: 'Open Sans', sans-serif;">
    <a href="{% url 'home' %}"><img id="img1" src="{% static 'tryapp/img/logo.jpeg' %}" alt="cebs"></a>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" id="p1" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="p1" href="{% url 'profile' %}">Profile</a>
        </li>

        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'orderh' %}" id="p1">Order History</a>
        </li>

        <li class="nav-item" >
          <a class="nav-link" href="{% url 'contact' %}" id="p1">Contact Us</a>
        </li> 
        <li class="nav-item" >
          <a class="nav-link" id="p2">
            Hello!&nbsp;{{user.username}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" id="p1" href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- <div class="container" style="font-family: 'Open Sans', sans-serif;">
    <h2 style="color:#6b249b">Cart</h2>
    <div class="well well-small">
     
      <table class="table table-bordered ">
        
          <tr>
            
            <th>Name</th>
            <th>Price</th>
            <th>Quantity </th>
            <th>Total</th>
          </tr>
       
          {% for cart in cartt %}
          <tr>
            
            <td>{{cart.productname}}</td>
            <td>{{cart.price}}</td>
            <td>
              
              
                <a name='increase'class="btn btn-sm btn-dark">+</a>
                <input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="10">
                <a name='decrease' class="btn btn-sm btn-dark">-</a>
            </td>
            
              
            <td>{{cart.total}}</td>
          
            
          </tr>
          {% endfor %}
      </table>
     
    </div>
  </div>
  
  <div class="footer">© 2021 </span><span style="color: white; ">  CEBSShopping.com</span></div>
  <script>
    
    $('.btn-number').click(function(e){
        e.preventDefault();
        
        fieldName = $(this).attr('data-field');
        type      = $(this).attr('data-type');
        var input = $("input[name='"+fieldName+"']");
        var currentVal = parseInt(input.val());
        if (!isNaN(currentVal)) {
            if(type == 'minus') {
                
                if(currentVal > input.attr('min')) {
                    input.val(currentVal - 1).change();
                } 
                if(parseInt(input.val()) == input.attr('min')) {
                    $(this).attr('disabled', true);
                }
    
            } else if(type == 'plus') {
    
                if(currentVal < input.attr('max')) {
                    input.val(currentVal + 1).change();
                }
                if(parseInt(input.val()) == input.attr('max')) {
                    $(this).attr('disabled', true);
                }
    
            }
        } else {
            input.val(0);
        }
    });
    $('.input-number').focusin(function(){
       $(this).data('oldValue', $(this).val());
    });
    $('.input-number').change(function() {
        
        minValue =  parseInt($(this).attr('min'));
        maxValue =  parseInt($(this).attr('max'));
        valueCurrent = parseInt($(this).val());
        
        name = $(this).attr('name');
        if(valueCurrent >= minValue) {
            $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
        } else {
            alert('Sorry, the minimum value was reached');
            $(this).val($(this).data('oldValue'));
        }
        if(valueCurrent <= maxValue) {
            $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
        } else {
            alert('Sorry, the maximum value was reached');
            $(this).val($(this).data('oldValue'));
        }
        
        
    });
    $(".input-number").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                 // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) || 
                 // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                     // let it happen, don't do anything
                     return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
      </script> -->








      {% block content %}
      <div class="container">
          <div class="row" style="margin-top: 6%">
          <h2>Your Shopping Cart
              <span class="badge pull-right">
                  {% with totail_items=cart|length %}
                      {% if cart|length > 0 %}
                          My Shopping Order:
                          <a href="{% url 'cart_detail' %}" style="color: #ffffff">
                              {{ totail_items }} item {{ totail_items|pluralize }}, Rs. {{ cart.get_total_price }}
                          </a>
                          {% else %}
                          Your cart is empty.
                      {% endif %}
                  {% endwith %}
              </span>
          </h2>
              <table class="table table-striped table-hover">
                  <thead style="background-color: #5AC8FA">
                      <tr>
                          <th>Image</th>
                          <th>Product</th>
                          <th>Quantity</th>
                          <th>Remove</th>
                          <th>Unit Price</th>
                          <th>Price</th>
                      </tr>
                  </thead>
                  <tbody>
                  {% for item in cart %}
                      {% with product=item.product  %}
                          <tr>
                              <td>
                                  <img src="{{product.image}}" style="width: 100px;height: 100px;">
                              </td>
                              <td>{{ product.productname }}</td>
                              <td>
                                  <form action="{% url 'cart_add' id=product.id %}" method="post">
                                      {% csrf_token %}
                                      {{ item.update_quantity_form.quantity }}
                                      {{ item.update_quantity_form.update }}
                                      <input type="submit" value="Update" class="btn btn-info">
                                  </form>
                              </td>
                              <td>
                                  <a href="{% url 'cart_remove' id=product.id %}">Remove</a>
                              </td>
                              <td>Rs. {{ item.price }}</td>
                              <td>Rs. {{ item.total_price }}</td>
                          </tr>
                      {% endwith %}
                  {% endfor %}
                  <tr style="background-color: #5AC8FA">
                      <td><b>Total</b></td>
                      <td colspan="4"></td>
                      <td colspan="num"><b>Rs. {{ cart.get_total_price }}</b></td>
                  </tr>
                  </tbody>
              </table>
          <p class="text-right">
              <a href="{% url 'home' %}" class="btn btn-default">Continue Shopping</a>
              <a href="" class="btn btn-primary">Checkout</a>
          </p>
          </div>
      </div>
  {% endblock %}



</body>

</html>